.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}

.orderShowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderShowHeader .status {
  font-size: 12px;
}

.orderer {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.selectProduct,
.ant-select-selector,
.ant-select-selection-search,
.ant-select-selection-placeholder,
.ant-select-item-option-content {
  height: 50px;
}

.optionProducts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.optionProducts span {
  padding: 0 5px 0 5px;
}
