/* .selectProduct,
.selectProduct .ant-select-selector,
.selectProduct .ant-select-selection-search,
.selectProduct .ant-select-selection-placeholder,
.selectProduct .ant-select-item-option-content {
  height: 70px !important;
  padding-top: 5px !important;
  padding-top: 5px !important;
}

.optionProducts::fir {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.optionProducts span {
  padding: 0 5px 0 5px;
}

.optionProducts .ant-image .ant-image-img {
  width: 100% !important;
} */
